wsdlgen/Employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.pfgpartyentity.com/Employee"
		elementFormDefault="qualified" 
		xmlns="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="http://www.pfgpartyentity.com/Employee">


    <element name="Employees" type="tns:Employee">


    </element>

    
    <complexType name="Employee">
    	<sequence>
    		<element name="EmployeeName" type="string"></element>
    		<element name="EmployeeID" type="string"></element>
    		<element name="EmployeeSalary" type="int"></element>
    	</sequence>
    </complexType>
</schema>